@import url("https://fonts.googleapis.com/css2?family=Caveat");
*{
  background-color: #c9c6bf ;
  /* background: rgb(2,0,36); */
  /* /632274 */
  /* background: linear-gradient(74deg, rgba(2,0,36,1) 0%, rgba(39,94,198,1) 28%, rgba(39,94,198,1) 72%, rgba(0,212,255,1) 100%); */
}
.Container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.Picture {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #002e4b ;
  border-radius: 3px;
  background: #f5f5dc ;
  background-color: #3E8EDE;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%);
  user-select: none;
  cursor: pointer;
}
.Picture-video {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  border: 5px solid #000000;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -50%);
  user-select: none;
  cursor: pointer;
}
.Picture-img {
  display: block;
  width: 400px;
  height: 400px;
  pointer-events: none;
}

.Picture-note {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 70px;
  padding: 12px 24px;
  font-size: 1.5rem;
  text-align: center;
}
.Picture-note-video {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 160px;
  padding: 12px 24px;
  font-size: 1.5rem;
  text-align: center;
}

.Network {
  display: inline-block;
  padding: 0 5px;
}
.Network-video {
  display: inline-block;
  padding: 0 5px;
}

.Network img {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
}

.Network-video img {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  vertical-align: middle;
}
/* --------------------- */
/* Other styles          */
/* --------------------- */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Caveat', serif;
  overflow: hidden;
}

pre{
  font-family: 'Caveat', serif;
  overflow: hidden;
}




.message {
  position: absolute;
  top: 10px; 
  left: 50%; 
  transform: translateX(-50%); 
  text-align: center; 
  background-color: #c9c6bf ;
  padding: 5px; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}